$gray: #9b9a97;
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sidebar {

  > button {
    background-color: transparent;
    border: none;
    color: gray;
    font-size: 30px;
  }


  ul {
    list-style-type: none;
    padding: 0;
    display: none;
    animation: opacity 0.4s;

    &.show {
      display: block;
    }

    li {
      margin-bottom: 0.5rem;

      a {
        padding: 0.5rem;
        display: block;
        color: gray;
        text-decoration: none;
        border-left: 2px solid transparent;
        font-size: 20px;
        text-align: right;

        &:hover,
        &.active {
          border-color: #c62e21;
          background-color: #2A2A2C;
        }
      }
    }
  }
}